@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wrapper {
  background-color: pink;
}

.container {
  background-color: pink;
}

.barCompleted {
  background-color: lightblue;
  width: 30%;
}

.label {
  font-size: 20px;
  color: green;
}
